@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Contact>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "_Layout.cshtml";
}

<div class="navbar-compensator">

</div>

<partial name="_Breadcrumb" />

<iframe class="contact-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d92138.18715937916!2d18.05512312292064!3d59.31649859138493!2m3!1f0!2f0!3f0
!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f763119640bcb%3A0xa80d27d3679d7766!2sStockholm!5e0!3m2!1ssv!2sse!4v1673447335655!5m2!1ssv!2sse"
allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


<form class="contact-form">
    
    <h6>@Model.Value("formHeader")</h6>
    <div class="name-mail-div">
        <input type="text" placeholder="@Model.Value("namePlaceholder")" />
        <input type="email" placeholder="@Model.Value("emailPlaceholder")" />
    </div>
    <div class="comments-div">
        <input type="text-area" placeholder="@Model.Value("commentsPlaceholder")" />
    </div>
    <div>
        <button>@Model.Value("contactButtonText")</button>
    </div>
</form>
